<div class="p-4">
    <form>
        <div>
            <input type="text" class="form-control mb-3 text-black p-3" id="floatingInput" placeholder="Company Name">
            <div class="form-floating mb-3 ">
                <textarea class="form-control " placeholder="Leave a comment here" id="floatingTextarea2"
                    style="height: 100px"></textarea>
                <label for="floatingTextarea2">Company Description</label>
            </div>
            <input type="text" class="form-control mb-3 text-black mb-3 p-3" id="floatingInput" placeholder="Select Tag">
            <input type="text" class="form-control mb-3 text-black mb-3 p-3" id="floatingInput" placeholder="Select Logo">
        </div>
        <div class="text-end" ><button type="button" class="btn btn-light me-3 border">SAVE</button>
            <button type="button" class="btn btn-light border">RESET</button>
        </div>
    </form>