<nav class="navbar  navbar-light  shadow ">
    <div class="container-fluid ">
        <div class="d-flex align-items-center">
            <div class="  ms-3 ">
                <span class="bi bi-list text-black fs-4 me-3"></span>
            </div>
            <div class="mx-4 brand">
                <p class="m-0 fs-4">Company</p>
                <span class="breadcrumb">
                    <a class="breadcrumb-item text-black me-2" routerLink="company">Company/</a>
                    <span class="breadcrumb-item text-black">{{data?.name}}</span>
                </span>
            </div>
        </div>
    </div>
</nav>